.benefit__list {
    
    @include respond-to('medium') {
        display: flex;
        flex-wrap: wrap;
    }

    @include respond-to('large') {
        justify-content: space-between;
        margin: 0 30px
    }
    
    &-item {
        
        border: thin solid map-get($colors, 'dark-gray');
        margin: 0 30px 40px;
        background-color: map-get($colors, 'light-gray');
        
        @include respond-to('medium') {
            flex: 1 1 0;
            min-width: calc(50% - 62px);
            max-width: calc(50% - 62px);
        }

        @include respond-to('large') {
            min-width: 430px;
            max-width: 430px;
            margin-right: 0;
            margin-left: 0;
        }

        &-header {
            background-color: map-get($colors, 'red');
            color: map-get($colors, 'white');
            padding: 12px 20px;

        }
        &-body {
            padding: 30px 20px;
        }
    }
}