.sd__error {
    border: thin solid map-get($colors, 'dark-gray');
    margin: 0 30px;
    
    @include respond-to('large') {
        justify-content: space-between;
        margin: 40px 30px;
    }

    &-header {
        background-color: map-get($colors, 'red');
        color: map-get($colors, 'white');
        padding: 12px 20px;
    }
    &-message {
        padding: 12px 20px;
        display: flex;
        align-items: center;
        background-color: map-get($colors, 'white');        
        &-body {
            padding: 12px 20px;
        }
    }
    &-icon {
        font-size: 48px;
        color: map-get($colors, 'red');
    }
}