.sd {
    &__header {
        background-color: map-get($colors, 'black' );
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        position: sticky;
        top: 0;
        @include respond-to('medium') {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    
    &__logo {
        margin: 0 auto;
        display: block;
        &-wrapper {
            margin: 18px 32px;
        }
    }
    
}