.sd {
    &__nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-item {
            a {
                color: map-get($colors, 'white');
                display: block;
                text-decoration: none;
                padding: 10px 24px 14px;
                position: relative;

                @include respond-to('medium') {
                    padding-bottom: 18px;
                }

                &.active::after {
                    content: '';
                    display: block;
                    height: 4px;
                    width: 100%;
                    background-color: map-get($colors, 'red');
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}
