.sd {
    &__search {

        &-icon {
            position: absolute;
            top: 12px;
            right: 8px;
            color: map-get($colors, 'dark-gray');
            pointer-events: none;
        }
        
        &-input {
            position: relative;
            width: 100%;
            display: flex;

            @include respond_to('medium') {
                width: auto;
            }

            input {
                flex: 1 0 auto;
                padding: 10px 14px;
                font-size: 16px;
            }
        }

        &-wrapper {
            display: flex;
            justify-content: flex-end;
            margin: 0 30px 20px;
        }
    }
}