.sd {
    &__section {
        padding: 20px 0 1px;
    }
    &__policies,
    &__safety {
        margin: 0 32px;
        h1, h3 {
            text-align: center;
        }
        p {
            margin: 16px 0;
        }

        ul {
            list-style: disc;
            li {
                margin: 16px 0;
                display: list-item;
            }
        }

        @include respond-to('medium') {
            max-width: 720px;
            margin: 0 auto;
        }
        @include respond-to('large') {
            max-width: 960px;
        }
        
    }
}
