* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "CenturyGothic-Bold", "arial", sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 600;
}

p {
  line-height: 1.25rem;
}

h1 {
  font-size: 32px;
  line-height: 42px;
  @include respond-to('medium') {
    font-size: 48px;
    line-height: 60px;
  }
}

h3 {
  font-size: 18px;
  line-height: 22px;

  @include respond-to('medium') {
    font-size: 22px;
    line-height: 30px;
  }
}

h4 {
  font-size: 16px;
}

strong {
  font-weight: 600;
}